html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    margin: 0;
    color: #fff;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: 20px;
    padding-right: 8%;
}

.navbar > span {
    margin-right: 20px;
}

.navbar > i {
    margin-top: 2px;
}

.title {
    font-size: 200px;
url('chrome://new-tab-page/icons/google_logo.svg');
}

.parent {
    font-size: 200px;
}
